.box{
    display:flex;
    background-color: lightcoral;
}
.item{
    background-color:beige;
    margin:30px;
    padding:30px;
    /*transform:rotate(30deg); */
    /*transform:skewY(20deg);*/
    /*transform: scaleY(1.5);*/

}